<!-- <div class="address-form">
    <label for="street">Street:</label>
    <input id="street" [(ngModel)]="address.street" (ngModelChange)="onAddressChange()">
  
    <label for="city">City:</label>
    <input id="city" [(ngModel)]="address.city" (ngModelChange)="onAddressChange()">
  
    <label for="state">State:</label>
    <input id="state" [(ngModel)]="address.state" (ngModelChange)="onAddressChange()">
  
    <label for="zip">Zip Code:</label>
    <input id="zip" [(ngModel)]="address.zip" (ngModelChange)="onAddressChange()">
  </div>
   -->
   <!-- <div class="address-card"> -->
    <h3>Address Details</h3>
    <p><strong>Street:</strong> {{ address.street }}</p>
    <p><strong>City:</strong> {{ address.city }}</p>
    <p><strong>State:</strong> {{ address.state }}</p>
    <p><strong>Zip Code:</strong> {{ address.zip }}</p>
  <!-- </div>
   -->